.section{
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    color: rgb(5, 5, 5);
    background: rgb(10, 12, 97);
    font-size: medium;
    justify-content: flex-start;
    text-align: left;
}